.search {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .search__input {
    border: solid 1px var(--slate-grey);
    background-color: #ffffff;
    height: 48px;
    padding-left: 42px;
    max-width: 360px;
    margin-right: 6px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .search__form {
    width: 100%;
  }

  .search__input::placeholder {
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.22px;
    color: var(--silver);
    margin-right: 6px;
  }
  
